div {
  width: 300px;
  border: 5px solid;
  padding: 50px;
  margin: 30px;
}

div {
  border-style: dotted dashed solid double;
  border-width: 5px 10px 15px 20px;
  border-color: aqua;
  padding: 2px 4px 8px 10px;
}

div {
  margin: 10px;
}
}
